<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>직무학습</title>

    <!-- Custom fonts for this template -->
    <link href="http://13.124.0.31:9002/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://13.124.0.31:9002/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="http://13.124.0.31:9002/bootstrap/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- eun costum-->
    <style>
        .boardheader {
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            background-color: #f8f9fc;
            border-bottom: 1px solid #e3e6f0;
            display: flex;
        }
    </style>
    <script>
        function init() {
            $('#staymd').val(new Date('2022-01-01').toISOString().substring(0, 10));
            $('#endymd').val(new Date().toISOString().substring(0, 10));
        }

        function fnModuleInfo(qid) {
            console.log(qid);
            // var qtypecd = document.getElementById(qtypecd_d).value;
            // var authcd = document.getElementById(authcd_d).value;

            $('#queGenModal .modal-content').load("http://52.78.161.54:8000/admin-service/queGenPopup?qid=" + qid);
            $('#queGenModal').modal({});
        }
    </script>
</head>

<body id="page-top" onload="init()">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <section class="content-side-bar" th:replace="common/sidebar::common-side-bar"></section>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <section class="content-top-bar" th:replace="common/topbar::common-top-bar"></section>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">문제관리</h1>
                </div>
                <form name="myform" action="http://52.78.161.54:8000/admin-service/queGen" method="post">
                    <div class="card shadow mb-4">
                        <div class="boardheader navbar border-bottom-primary"
                             style="padding-right: 100px; padding-left: 100px;">
                            <div class="m-0 font-weight-bold text-primary" style="font-size: 18px;">
                                인증분야
                            </div>
                            <div class="mb-sm-0 navbar-light bg-light">
                                <select name="auth" id="auth" style="height: 35px; width: 150px; border: #dbdad9 1px solid;">
                                    <option value="%">전체</option>
                                    <option th:each="item, i : ${authList}" th:value="${item.authcd}" th:utext="${item.nm}"></option>
                                </select>
                            </div>
                            <div class="m-0 font-weight-bold text-primary" style="font-size: 18px;">
                                인증분야세부
                            </div>
                            <div class="mb-sm-0 navbar-light bg-light">
                                <select name="authDetail" id="authDetail" style="height: 35px; width: 150px; border: #dbdad9 1px solid;">
                                    <option value="%">전체</option>
                                    <option th:each="item, i : ${authDetailList}" th:value="${item.QTYPECD}" th:utext="${item.QTYPENM}"></option>
                                </select>
                            </div>
                            <div class="m-0 font-weight-bold text-primary"
                                 style="font-size: 18px; font-family: 'Courier New'">
                                등록일시
                            </div>
                            <input type="date" class="mb-sm-0" style="height: 35px; border: #dbdad9 1px solid;"
                                   name="staymd" id="staymd">

                            <div class="mb-sm-0" style="font-size: 19px;">
                                ~
                            </div>
                            <input type="date" class="mb-sm-0" style="height: 35px; border: #dbdad9 1px solid;"
                                   name="endymd" id="endymd">
                            <div class="mb-sm-0">
                                <select name="searchItem" id="searchItem"
                                        style="height: 35px; width: 100px; border: #dbdad9 1px solid;">
                                    <option value="%">선택</option>
                                    <option value="qid">문제ID</option>
                                    <option value="question">문제</option>
                                    <option value="writer">출제자</option>
                                </select>
                            </div>
                            <input name="searchInput" id="searchInput" class="mb-sm-0"
                                   style="height: 35px; width: 250px; border: #dbdad9 1px solid;">
                            <input type="submit" value="조회" class="btn-primary btn d-sm-inline-block"
                                   style="width: 100px; height: 35px;"/>
                        </div>
                    </div>
                </form>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr class="bg-primary" style="color: white">
                                    <th style="width: 7%;text-align: center; font-size: 17px;">번호</th>
                                    <th style="width: 10%;text-align: center; font-size: 17px;">문제ID</th>
                                    <th style="width: 11%; text-align: center; font-size: 17px;">문제분류</th>
                                    <th style="width: 43%; text-align: center; font-size: 17px;">문제</th>
                                    <th style="width: 9%;text-align: center; font-size: 17px;">출제자</th>
                                    <th style="width: 10%;text-align: center; font-size: 17px;">등록일</th>
                                    <th style="width: 10%;text-align: center; font-size: 17px;">상세조회</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data: ${queGenList}"
                                    th:idx="${data.rnum}"
                                    class="btn-light" style="height: 30px;">
                                    <td style="text-align: center; padding: 8.5px;" name="idx"
                                        th:text="${data.rnum}"></td>
                                    <td style="text-align: center; padding: 8.5px;" name="gubun"
                                        th:text="${data.qid}"></td>
                                    <td style="text-align: center; padding: 8.5px;" name="title"
                                        th:text="${data.qtypenm}"></td>
                                    <td style="text-align: left; padding: 8.5px;" name="replynum"
                                        th:text="${data.question}"></td>
                                    <td style="text-align: center; padding: 8.5px;" name="writedt"
                                        th:text="${data.writernm}"></td>
                                    <td style="text-align: center; padding: 8.5px;" name="writeuser"
                                        th:text="${data.createdt}"></td>
                                    <td style="text-align: center;">
                                        <a class="btn btn-outline-primary btn-icon-split"
                                           th:attr="onclick=|fnModuleInfo('${data.qid}')|"/>
                                        <span class="text">상세조회</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- Moa Modal-->
                            <div class="modal fade" id="queGenModal" tabindex="-1" role="dialog"
                                 aria-labelledby="historyModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="navbar">
                            <h6 class="m-0 font-weight-bold text-primary"></h6>
                            <a href="http://52.78.161.54:8000/admin-service/queGenCreate"
                               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-pencil-alt fa-sm text-white-50"></i>
                                등록
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <section class="content-footer-bar" th:replace="common/footer::common-footer-bar"></section>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="http://13.124.0.31:9002/login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="http://13.124.0.31:9002/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="http://13.124.0.31:9002/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="http://13.124.0.31:9002/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="http://13.124.0.31:9002/bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="http://13.124.0.31:9002/bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="http://13.124.0.31:9002/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="http://13.124.0.31:9002/bootstrap/js/demo/datatables-demo.js"></script>

</body>

</html>