<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>직무학습</title>
    <!-- Custom fonts for this template -->
    <link href="http://15.164.45.122:9002/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://15.164.45.122:9002/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="http://15.164.45.122:9002/bootstrap/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <section class="content-side-bar" th:replace="common/sidebar::common-side-bar"></section>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- M  ain Content -->
        <div id="content">

            <!-- Topbar -->
            <section class="content-top-bar" th:replace="common/topbar::common-top-bar"></section>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">문제등록</h1>
                <form name="modify_data" action="/admin-service/queGenModify" method="post">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">등록하기</h6>
                        </div>


                        <div class="card-body">

                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0"
                                       th:each="data: ${queGenModifyDetail}">
                                    <col style="width: 20%"/>
                                    <col style="width: 30%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 30%"/>
                                    <tbody>
                                    <tr class="odd">
                                        <th class="sorting_1">*인증분야/문제분류</th>
                                        <td>
                                            <select name="authnm" id="authnm" readonly
                                                    style="height: 25px; width: 150px; text-align: center; border: #dbdad9 1px solid;">
                                                <option th:text="${data.authnm}" th:value="${data.authnm}"></option>
                                            </select>
                                            <select name="qtypenm" id="qtypenm" readonly
                                                    style="height: 25px; width: 150px; text-align: center; border: #dbdad9 1px solid;">
                                                <option th:text="${data.qtypenm}" th:value="${data.qtypenm}"></option>
                                            </select>
                                        </td>
                                        <th>*관리번호</th>
                                        <td>
                                            <input name="qid" id="qid"  style="border: #dbdad9 1px solid" type="text" th:value="${data.qid}"readonly >
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <th class="sorting_1">*난이도</th>
                                        <td>
                                            <select id="lvl" name="lvl" style="border: #dbdad9 1px solid; width: 100px;">
                                                <option value="선택">선택</option>
                                                <option value="1" th:selected="${data.lvl} == '1'">상</option>
                                                <option value="2" th:selected="${data.lvl} == '2'">중</option>
                                                <option value="3" th:selected="${data.lvl} == '3'">하</option>
                                            </select>
                                        </td>
                                        <th>*정답유형</th>
                                        <td name="anstype" value="M">객관식</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       th:each="data: ${queGenModifyDetail}"
                                       cellspacing="0">
                                    <col style="width: 10%"/>
                                    <col style="width: 40%"/>
                                    <col style="width: 40%"/>
                                    <col style="width: 10%"/>
                                    <tbody>
                                    <tr class="even">
                                        <th style="text-align: center; vertical-align : center;" class="sorting_1">문제
                                        </th>
                                        <td colspan="3"><textarea name="question" id="question" class="mb-sm-0 nav-link"
                                                                  style="width: 800px; height:274px; border: #dbdad9 1px solid;"
                                        th:text="${data.question}"></textarea>
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <th style="text-align: center; vertical-align : center;" class="sorting_1"
                                            rowspan="4">보기
                                        </td>
                                        <td colspan="2">
                                            1. <input type="text" style="width: 785px; border: #dbdad9 1px solid"
                                                      name="item1" th:value="${data.item1}">
                                        </td>
                                        <td style="text-align: center;">
                                            <input type="radio" id="anscd" name="anscd" value="1" th:checked="${data.item1 == data.answer}">
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td colspan="2">
                                            2. <input type="text" style="width: 785px; border: #dbdad9 1px solid" name="item2" th:value="${data.item2}">
                                        </td>
                                        <td style="text-align: center;">
                                            <input type="radio" id="anscd" name="anscd" value="2" th:checked="${data.item2 == data.answer}">
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td colspan="2">
                                            3. <input type="text" style="width: 785px;border: #dbdad9 1px solid" name="item3" th:value="${data.item3}">
                                        </td>
                                        <td style="text-align: center;">
                                            <input type="radio" id="anscd" name="anscd" value="3" th:checked="${data.item3 == data.answer}">
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td colspan="2">
                                            4. <input type="text" style="width: 785px;border: #dbdad9 1px solid" name="item4" th:value="${data.item4}">
                                        </td>
                                        <td style="text-align: center;">
                                            <input type="radio" id="anscd" name="anscd" value="4" th:checked="${data.item4 == data.answer}">
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <th style="text-align: center; vertical-align : center;" class="sorting_1">해설
                                        </th>
                                        <td colspan="3"><textarea name="explanation" id="explanation" class="mb-sm-0 nav-link"
                                                                  style="width: 800px; border: #dbdad9 1px solid;" th:text="${data.explanation}"></textarea>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="card-body">
                            <div>
                                <a href="/admin-service/queGen" class="btn-primary btn d-sm-inline-block"
                                   style="float: right">
                                    <i class="fa-sm text-white-50"></i>
                                    목록
                                </a>
                                <input type="submit" value="수정하기" class="btn-primary btn d-sm-inline-block"
                                       style="width: 100px; margin-right: 10px; float: right;"/>
                            </div>
                        </div>
                </form>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <section class="content-footer-bar" th:replace="common/footer::common-footer-bar"></section>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="http://15.164.45.122:9002login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="http://15.164.45.122:9002/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="http://15.164.45.122:9002/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="http://15.164.45.122:9002/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="http://15.164.45.122:9002/bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="http://15.164.45.122:9002/bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="http://15.164.45.122:9002/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="http://15.164.45.122:9002/bootstrap/js/demo/datatables-demo.js"></script>

</body>

</html>