<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>직무학습</title>

    <!-- Custom fonts for this template -->
    <link href="http://13.124.0.31:9002/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://13.124.0.31:9002/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="http://13.124.0.31:9002/bootstrap/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="http://13.124.0.31:9002/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="http://13.124.0.31:9002/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="http://13.124.0.31:9002/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="http://13.124.0.31:9002/bootstrap/js/sb-admin-2.min.js"></script>

    <!-- eun costum-->
    <style>
        .boardheader {
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            background-color: #f8f9fc;
            border-bottom: 1px solid #e3e6f0;
            display: flex;
        }
    </style>
    <script>
        $(document).ready(function(){
            $("#searchResult").click(function () {
                var HtmlTot = "";
                var param = "auth="+$("#auth").val()+"&staymd="+$("#staymd").val()+"&endymd="+$("#endymd").val()
                          + "&gubun="+$("#gubun").val();
                console.log(param);

                $.ajax({
                    url: "http://52.78.161.54:8000/admin-service/totResult",
                    data: param,
                    type: 'POST',
                    success: function onData(data){
                        $("#resultTbody").html('');
                        const obj = data;
                        for (var i in obj){
                            const List = new Map(Object.entries(obj[i]));
                            var authnm = List.get("authnm");
                            var qtyp1nm = List.get("qtyp1nm");
                            var qtyp2nm = List.get("qtyp2nm");
                            var qtyp3nm = List.get("qtyp3nm");
                            var qtyp4nm = List.get("qtyp4nm");
                            var rank_num = List.get("rank_num");
                            var username = List.get("username");
                            var score = List.get("score");
                            var startdt = List.get("startdt");
                            var enddt = List.get("enddt");
                            HtmlTot = HtmlTot+makeResultHtml(authnm,qtyp1nm,qtyp2nm,qtyp3nm,qtyp4nm,rank_num
                                ,username,score,startdt,enddt);
                        }
                        $("#resultTbody").html(HtmlTot);
                    } ,
                    error:function onError(error){
                        console.log(error);
                    }
                });
            });

            function makeResultHtml(authnm,qtyp1nm,qtyp2nm,qtyp3nm,qtyp4nm,rank_num,username,score,startdt,enddt){

                let qtyp1 = qtyp1nm==undefined ? "" : qtyp1nm;
                let qtyp2 = qtyp2nm==undefined ? "" : qtyp2nm;
                let qtyp3 = qtyp3nm==undefined ? "" : qtyp3nm;
                let qtyp4 = qtyp4nm==undefined ? "" : qtyp4nm;

                var startTime = startdt.substr(0,4) +"-"+ startdt.substr(4,2) +"-"+ startdt.substr(6,2) +" "+
                                startdt.substr(8,2) +":"+ startdt.substr(10,2)+":"+ startdt.substr(12,2)

                var endTime = enddt.substr(0,4) +"-"+ enddt.substr(4,2) +"-"+ enddt.substr(6,2) +" "+
                              enddt.substr(8,2) +":"+ enddt.substr(10,2)+":"+ enddt.substr(12,2)

                HtmlTot = "<tr class=\"btn-light\" style=\"height: 30px;\" >\n" +
                            "<td style=\"text-align: center; vertical-align: middle; padding: 8.5px;\">"+username+"</td>\n" +
                            "<td style=\"text-align: center; vertical-align: middle; padding: 8.5px;\">"+authnm+"</td>\n" +
                            "<td style=\"text-align: center; vertical-align: middle; padding: 8.5px;\">"+qtyp1+"</td>\n" +
                            "<td style=\"text-align: center; vertical-align: middle; padding: 8.5px;\">"+qtyp2+"</td>\n" +
                            "<td style=\"text-align: center; vertical-align: middle; padding: 8.5px;\">"+qtyp3+"</td>\n" +
                            "<td style=\"text-align: center; vertical-align: middle; padding: 8.5px;\">"+qtyp4+"</td>\n" +
                            "<td style=\"text-align: center; vertical-align: middle; padding: 8.5px;\">"+score+"</td>\n" +
                            "<td style=\"text-align: center; vertical-align: middle; padding: 8.5px;\">"+rank_num+"</td>\n" +
                            "<td style=\"text-align: center; vertical-align: middle; padding: 8.5px;\">"+startTime+"</td>\n" +
                            "<td style=\"text-align: center; vertical-align: middle; padding: 8.5px;\">"+endTime+"</td>\n" +
                          "</tr>";
                return HtmlTot;
            }

            $("#auth").change(function (){
                console.log($(this).val());

                $("#authDetail1").html('');
                $("#authDetail2").html('');
                $("#authDetail3").html('');
                $("#authDetail4").html('');

                var HtmlTot = "<option value=\"선택\">선택</option>\n";
                var param_auth = "auth="+$(this).val();
                console.log(param_auth);
                $.ajax({
                    url: "http://52.78.161.54:8000/admin-service/totResult/selectBox",
                    data: param_auth,
                    type: 'POST',
                    // dataType: 'json',
                    success: function onData(data){
                        console.log(data);
                        const obj = data;

                        //authQueTypeRatioContent 갱신
                        for (var i in obj){
                            const selectBoxList = new Map(Object.entries(obj[i]));
                            console.log(selectBoxList);
                            var authcd = selectBoxList.get("QTYPECD");
                            var authnm = selectBoxList.get("NM");

                            console.log(authcd+":::"+authnm)
                            HtmlTot = HtmlTot+makeHtml(authcd, authnm);
                        }

                        console.log(HtmlTot);
                        $("#authDetail1").html(HtmlTot);
                        $("#authDetail2").html(HtmlTot);
                        $("#authDetail3").html(HtmlTot);
                        $("#authDetail4").html(HtmlTot);
                    } ,
                    error:function onError(error){
                        console.log(error);
                    }
                });

            });
        });

        function makeHtml(authcd, authnm){
            HtmlTot = "<option value=\""+authcd+"\">"+authnm+"</option>\n";
            return HtmlTot;
        }

        function init() {
            $('#staymd').val(new Date('2022-01-01').toISOString().slice(0,-1));
            $('#endymd').val(new Date().toISOString().slice(0,-8));
        }

    </script>
</head>

<body id="page-top" onload="init()">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <section class="content-side-bar" th:replace="common/sidebar::common-side-bar"></section>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <section class="content-top-bar" th:replace="common/topbar::common-top-bar"></section>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">결과관리</h1>
                </div>
                <!-- DataTales Example -->
                <div class="row">
                    <div class="card shadow mb-4"  style="width: 65%; height: 800px; overflow: auto;">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                                    <thead>
                                    <tr class="bg-primary" style="color: white">
                                        <th style="width: 8%; text-align: center; font-size: 13px;">성명</th>
                                        <th style="width: 9%; text-align: center; font-size: 13px;">응시분야</th>
                                        <th style="width: 10%; text-align: center; font-size: 13px;">세부분야(1)</th>
                                        <th style="width: 10%;text-align: center; font-size: 13px;">세부분야(2)</th>
                                        <th style="width: 10%; text-align: center; font-size: 13px;">세부분야(3)</th>
                                        <th style="width: 10%; text-align: center; font-size: 13px;">세부분야(4)</th>
                                        <th style="width: 7%; text-align: center; font-size: 13px;">점수</th>
                                        <th style="width: 6%; text-align: center; font-size: 13px;">순위</th>
                                        <th style="width: 15%; text-align: center; font-size: 13px;">시작일시</th>
                                        <th style="width: 15%;text-align: center; font-size: 13px;">제출일시</th>
                                    </tr>
                                    </thead>
                                    <tbody id="resultTbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body shadow mb-4"  style="width: 30%; margin-left: 20px; margin-right: 15px;">
                        <fieldset style="border: #b9babc 1px solid">
                            <legend class="text-gray-600"
                                    style="font-size: 15px; width: 100px; padding-left: 10px;">&nbsp;조회조건</legend>
                            <form name="myform" class="card-body">
                                <div class="m-0 font-weight-bold text-primary"
                                     style="font-size: 18px; font-family: 'Courier New'">
                                    학습구분
                                </div>
                                <div>
                                    <select name="gubun" id="gubun" style="height: 35px; width: 140px; border: #dbdad9 1px solid;">
                                        <option value="%">선택</option>
                                        <option value="D">일일학습</option>
                                        <option value="G">평가학습</option>
                                        <option value="T">시험응시</option>
                                    </select>
                                </div>
                                <br/>
                                <div class="m-0 font-weight-bold text-primary"
                                     style="font-size: 18px; font-family: 'Courier New'">
                                    응시분야
                                </div>
                                <div>
                                    <select name="auth" id="auth" style="height: 35px; width: 140px; border: #dbdad9 1px solid;">
                                        <option value="%">선택</option>
                                        <option th:each="item, i : ${authList}" th:value="${item.authcd}" th:utext="${item.nm}"></option>
                                    </select>
                                </div>
                                <br/>
    <!--                            <div class="m-0 font-weight-bold text-primary"-->
    <!--                                 style="font-size: 18px; font-family: 'Courier New'">-->
    <!--                                응시세부분야-->
    <!--                            </div>-->
    <!--                            <div>-->
    <!--                                <select name="authDetail1" id="authDetail1" style="height: 35px; width: 140px; border: #dbdad9 1px solid;">-->
    <!--                                    <option value="%">선택</option>-->
    <!--                                    <option th:each="item, i : ${authDetailList}" th:value="${item.QTYPECD}" th:utext="${item.QTYPENM}"></option>-->
    <!--                                </select>-->
    <!--                                <select name="authDetail2" id="authDetail2" style="height: 35px; width: 140px; border: #dbdad9 1px solid;">-->
    <!--                                    <option value="%">선택</option>-->
    <!--                                    <option th:each="item, i : ${authDetailList}" th:value="${item.QTYPECD}" th:utext="${item.QTYPENM}"></option>-->
    <!--                                </select>-->
    <!--                                <select name="authDetail3" id="authDetail3" style="height: 35px; width: 140px; border: #dbdad9 1px solid;">-->
    <!--                                    <option value="%">선택</option>-->
    <!--                                    <option th:each="item, i : ${authDetailList}" th:value="${item.QTYPECD}" th:utext="${item.QTYPENM}"></option>-->
    <!--                                </select>-->
    <!--                                <select name="authDetail4" id="authDetail4" style="height: 35px; width: 140px; border: #dbdad9 1px solid;">-->
    <!--                                    <option value="%">선택</option>-->
    <!--                                    <option th:each="item, i : ${authDetailList}" th:value="${item.QTYPECD}" th:utext="${item.QTYPENM}"></option>-->
    <!--                                </select>-->
    <!--                            </div>-->
    <!--                            <br/>-->
                                <div class="m-0 font-weight-bold text-primary"
                                     style="font-size: 18px; font-family: 'Courier New'">
                                    시작일시
                                </div>
                                <div>
                                    <input type="datetime-local" class="mb-sm-0" style="height: 35px; width:220px; border: #dbdad9 1px solid;"
                                           name="staymd" id="staymd">
                                </div>
                                <br/>
                                <div class="m-0 font-weight-bold text-primary"
                                     style="font-size: 18px; font-family: 'Courier New'">
                                    종료일시
                                </div>
                                <div>
                                    <input type="datetime-local" class="mb-sm-0" style="height: 35px; width:220px; border: #dbdad9 1px solid;"
                                           name="endymd" id="endymd">
                                </div>
                                <br/>
                                <input type="button" value="조회" class="btn-primary btn d-sm-inline-block"
                                       style="width: 100px; height: 35px; float: right;" id="searchResult"/>
                                <br/>
                                <br/>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>

            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <section class="content-footer-bar" th:replace="common/footer::common-footer-bar"></section>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="http://13.124.0.31:9002/login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


<!-- Page level plugins -->
<script src="http://52.78.161.54:8000/bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="http://52.78.161.54:8000/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="http://52.78.161.54:8000/bootstrap/js/demo/datatables-demo.js"></script>

</body>

</html>